
@{
    ViewBag.Title = "HoaDon";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LayHoaDonBan();
        });
        //Hàm lấy ra toàn bộ danh sách Khách Hàng. Dùng $.ajax() thực hiện method HTTP GET
        function LayHoaDonBan() {
            var pageNum = 0;

            $('.pagination').html('');
            $.ajax({
                url: 'https://localhost:44381/HoaDonBan',
                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    alert("Không");
                },
                success: function (reponse) {
                    const len = reponse.length;
                    let table = '';
                    for (var i = 0; i < len; ++i) {
                        table = table + '<tr>'
                        table = table + '<td style="max-width:150px">' + reponse[i].SoHDB + '</td>';
                        table = table + '<td>' + reponse[i].TenKH + '</td>';
                        table = table + '<td>' + reponse[i].DienThoai + '</td>';
                        table = table + '<td>' + reponse[i].DiaChi + '</td>';
                        table = table + '<td>' + reponse[i].NgayLap + '</td>';
                        table = table + '<td> <button type="button" class="btn btn-danger" onclick="LayChiTietHoaDon(\'' + reponse[i].SoHDB + '\'),HienThi()">Xem Thêm</button> </td>';
                        table = table + '<tr>'
                    }
                    document.getElementById('HoaDonBan').innerHTML = table;
                },
                fail: function (response) { }
            });
        }
        function HienThi() {
            document.getElementById("HienThi").style.display = 'inline';
        }
        function LayChiTietHoaDon(idCTHDB) {
            $.ajax({
                url: 'https://localhost:44381/CTHD/' + idCTHDB,
                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    alert("Không");
                },
                success: function (reponse) {
                    const len = reponse.length;


                    end = pageNum * 5 + 5
                    for (var j = 0; j < len / 5;)
                        $('.pagination').append('<li class="page-item" data-page="' + j + '">\<a class="page-link" >' + j++ + '<span class="sr-only">(current)</span></a>\</li>').show();

                    $('.pagination li:first-child').addClass('active')
                    $('.pagination li').on('click', function () {
                        pageNum = $(this).attr('data-page')
                        if (pageNum == parseInt(len / 5))
                            end = len;
                        else
                            end = pageNum * 5 + 5

                        $('.pagination li').removeClass('active')
                        $(this).addClass('active')
                        Show(pageNum, end, reponse);
                    })

                    Show(pageNum, end, reponse);                
                },
                fail: function (response) { }
            });
        }
        function Show(pageNumX, endY, reponse) {

            let table = '';
            for (var i = pageNumX * 5; i < endY; i++) {

                if (reponse[i].GiaBan == -1) {
                    reponse[i].GiaBan = "Hết hàng"
                }
                if (reponse[i].An == false) {
                    let STT = i + 1;
                    table = table + '<tr>'
                    table = table + '<td style="max-width:150px">' + reponse[i].SoHDB + '</td>';
                    table = table + '<td>' + reponse[i].TenThietBi + '</td>';
                    table = table + '<td> <div ><img src="' + reponse[i].Anh + '" style="width : 38px; height : 38px " /></div> </td>';
                    table = table + '<td>' + reponse[i].GiaBan + '</td>';
                    table = table + '<td>' + reponse[i].SoLuong + '</td>';
                    table = table + '<td>' + reponse[i].ThanhTien + '</td>';
                    table = table + '<tr>'
                }
                else {

                }
                document.getElementById('data').innerHTML = table;
            }
        }
    </script>
}
@*Hiển thị hóa đơn bán*@
<table class="table table-hover" style="text-align:center">
    <h1 style="text-align:center">Hóa đơn bán</h1>
    <thead>
        <tr>
            <th style="max-width:150px">Số Hóa Đơn</th>
            <th>Tên Khách Hàng</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Ngày Mua</th>
        </tr>
    </thead>
    <tbody id="HoaDonBan"></tbody>
</table>
@*Hiển thị chi tiết hóa đơn*@
<div id="HienThi" style="display:none">
    <h1 style="text-align:center">Chi tiết hoá đơn</h1>
    <table class="table table-hover" style="text-align:center">
        <thead>
            <tr>
                <th style="max-width:150px">Số Hóa Đơn</th>
                <th>Tên Thiết Bị</th>
                <th>Ảnh</th>
                <th>Giá Bán</th>
                <th>Số Lượng</th>
                <th>Thành Tiền</th>

            </tr>
        </thead>
        <tbody id="ChiTietHoaDon"></tbody>
    </table>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination"></ul>
        </nav>
    </div>
</div>



