@{
    ViewBag.Title = "ThemSanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LayLoai();
            LayHang();
        });
        function LayLoai() {
            $.ajax({
                url: 'https://localhost:44381/Loai',
                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    alert("Không");
                },
                success: function (reponse) {
                    const len = reponse.length;
                    let table = '';
                    for (var i = 0; i < len; ++i) {
                        table = table + '<hr>'
                        table = table + '<option value="' + reponse[i].MaLoai + '">' + reponse[i].TenLoai + '</option>'
                    }
                    document.getElementById('value').innerHTML = table;
                },
                fail: function (response) { }
            });
        }
        function LayHang() {
            $.ajax({
                url: 'https://localhost:44381/Lay',
                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    alert("Không");
                },
                success: function (reponse) {
                    const len = reponse.length;
                    let table = '';
                    for (var i = 0; i < len; ++i) {
                        table = table + '<hr>'
                        table = table + '<option value="' + reponse[i].MaHang + '">' + reponse[i].Ten + '</option>'
                    }
                    document.getElementById('value1').innerHTML = table;
                },
                fail: function (response) { }
            });
        }
        function ThemSP() {
            var url = 'https://localhost:44381/api/them/?maThietBi=' +
                $("input[name='MaThietBi']").val() + '&maLoai=' + $("select[name='MaLoai']").val() +
                '&maHang=' + $("select[name='MaHang']").val() + '&tenThietBi=' + $("input[name='TenThietBi']").val() + '&giaBan=' + $("input[name='GiaBan']").val()
                + '&anh=' + $("input[name='Anh']").val() + '&chiTiet=' + $("input[id='txtChiTiet']").val() + '&soLuong=' + $("input[name='SoLuong']").val();
            $.ajax({
                url: url,
                method: 'POST',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                },
                success: function (reponse) {
                    
                    alert($("input[id='txtChiTiet']").val());
                    window.location.href = '@Url.Action("DanhSach", "Admin")';
                }
            });
        }
        function check() {
            $.ajax({
                url: 'https://localhost:44381/SP',
                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    alert("Không");
                },
                success: function (reponse) {
                    const len = reponse.length;
                    for (var i = 0; i < len; ++i) {
                        if (reponse[i].MaThietBi != $("input[name='MaThietBi']").val()) {
                            ThemSP();
                            break;
                        } else {
                            alert("Sản phẩm đã trùng mã");
                        }
                    }
                },
                fail: function (response) { }
            });
            
        }
    </script>
}

<div class="container">
    <table style="border:none">
        <tbody">
            <tr>
                <td>Mã thiết bị: </td>
                <td>
                    <input id="txtThietBi" type="text" name="MaThietBi" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>Mã loại: </td>
                <td>
                    <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="value" name="MaLoai" onchange="GetSP(value);">
                    </select>
                </td>
            </tr>
            <tr>
                <td>Mã hàng: </td>
                <td>
                    <select style="margin-bottom: 10px; border-radius:2px; width: 50px" id="value1" name="MaHang" onchange="GetSP(value);">
                    </select>
                </td>
            </tr>
            <tr>
                <td>Tên thiết bị: </td>
                <td>
                    <input id="txtTTB" type="text" name="TenThietBi" class="form-control" style="margin-bottom: 10px;">
                </td>
            </tr>
            <tr>
                <td>Giá bán: </td>
                <td>
        <div class="input-group">
                <input class="form-control" id="txtGiaBan" type="text" name="GiaBan" required  style="margin-bottom: 10px;">
                <span class="input-group-text"  style="margin-bottom: 10px;">VNĐ</span>
            </div>
                </td>
            </tr>
            <tr>
                <td>Url ảnh: </td>
                <td>
         <div class="input-group">
                <span class="input-group-text"  style="margin-bottom: 10px;">http://</span>
                <input id="txtAnh" type="text" name="Anh"  class="form-control" required  style="margin-bottom: 10px;">
            </div>
                </td>
            </tr>
            <tr>
                <td>Chi tiết: </td>
                <td>
                    <textarea id="txtChiTiet" name="ChiTiet" style="margin-bottom: 10px"></textarea>
                    <script>CKEDITOR.replace('ChiTiet');</script>

                </td>
            </tr>
            <tr>
                <td>Số lượng: </td>
                <td>
                    <input id="txtSoLuong" type="number" name="SoLuong" min="0" value="0" class="form-control" style="margin-top: 10px;">
                </td>
            </tr>
            <tr>
                <td>
                        <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px;"
                                onclick="check();">
                            Thêm mới
                        </button> 
                </td>
            </tr>
        </tbody>
        </table>
   
</div>
