
@{
    ViewBag.Title = "TrangChuAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h1 style="text-align:center">Trang thiết bị y tế</h1>
    <hr />
    <img src="https://hopquysanpham.com/wp-content/uploads/2019/11/trang-thiet-bi-y-te.jpg">
</div>

